<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="User Authentication">
		<meta name="author" content="">

		<title>{{ title }}</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
	</head>

	<body>
		{% block header %}
			<div id="header-app"></div>
		{% endblock %}

		<div class="ui container">
			{% block contents %}{% endblock %}
		</div>
		
		<script src="https://sdk.amazonaws.com/js/aws-sdk-2.190.0.min.js"></script>

		<script>
			var base_url = '{{ baseurl }}';
		</script>

		<script src="{{ baseurl }}/dist/shared.entry.js"></script>
		{% block bottom_scripts %}{% endblock %}
	</body>
</html>