{% extends 'base.html' %}

{% block contents %}
	<p>
		Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.
		<br><br>
		Detto questo, vuoi loggarti o registrarti?<br><br>
		<a href="/login" class="ui inverted green button">
			Login
		</a>
		<a href="/register" class="ui inverted blue button">
			Registrati
		</a>
	</p>
{% endblock %}